# python
__pycache__/
*.pyc
.venv/
venv/

# data
data/raw/*
data/processed/*
data/client_splits/*
data/privacy_state/
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/client_splits/.gitkeep

# os / editor
.DS_Store
.vscode/
